.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #7AD447; /* Assuming customteal is #008080 */
    border-radius: 8px;
    padding: 24px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .form-group label {
    margin-bottom: 8px;
    padding-left: 4px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    color: black;
    border: 2px solid #008080;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-group input:focus {
    border-color: #00ced1; /* Adjust the focus color if needed */
    box-shadow: 0 0 5px #00ced1; /* Adjust the focus ring color if needed */
  }
  
  .submit-button {
    font-size: 1.1rem;
    background: linear-gradient(to right, #32cd32, #228b22, #006400);
    color: white;
    padding: 14px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    background: linear-gradient(to right, #228b22, #006400);
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
  }
  
  .submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px #32cd32; /* Adjust the focus ring color if needed */
  }
  
  #icons {
    position: absolute;
    z-index: 999;
    color: #7AD447;
    transform: translateX(13.5rem) translateY(0.5rem);
  }

  #login-form {
    padding-top: 2rem;
  }