#homepage {
    background-color: #070A05;
    color: #E3EDDE;
}

#get-started {
    border: 1px solid #AFD897;
    background-color: #AFD897 !important;
    color: #140218;
}

#get-started:hover {
    background-color: transparent!important;
    color: #E3EDDE;
}

#learn-more {
    border: 1px solid #AFD897 !important;
}

#learn-more:hover {
    background-color: #AFD897 !important;
    color: #070A05;
}

a {
    text-decoration: none !important;
}

#UserIcon {
    background-color: #79D345 !important;
}